cypress/videos
node_modules
cypress/reports
cypress/videos
cypress/screenshots
cypress/downloads
package-lock.json
.env
cypress/fixtures/messageBody.json
cypress/fixtures/env.json
cypress/fixtures/messageTemplates/*.json
docker-compose.yaml