cypress/videos
node_modules
report
cypress/screenshots
cypress/downloads
package-lock.json
.env
cypress/fixtures/messageBody.json
cypress/fixtures/selectiveFrnRemove.csv
cypress/fixtures/selectiveFrnUpload.csv